@mixin control {
  display: inline-flex;
  position: relative;

  &__functional {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    outline: none;
  }

  &__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__title {
    @extend %text_M;
    color: var(--text);
    text-decoration: none;
  }
}

@mixin handle-state($state, $element: false) {
  @if $element {
    &__functional#{$state} ~ &__state &__#{$element} {
      @content;
    }
  } @else {
    &__functional#{$state} ~ &__state {
      @content;
    }
  }
}
