@import '../mixins.scss';

.radio {
  @include control;

  &__visual {
    width: 28px;
    height: 28px;
    background: var(--background-primary);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 18px;
    height: 18px;
    background: var(--blue);
    border-radius: 50%;
    display: none;
  }

  @include handle-state(':checked', visual) {
    border: 2px solid var(--blue);
  }

  @include handle-state(':checked', icon) {
    display: block;
  }

  @include handle-state(':focus', title) {
    text-decoration: underline;
  }

  @include handle-state(':disabled', visual) {
    background-color: var(--grey-2);
  }

  @include handle-state(':disabled', title) {
    color: var(--grey-2);
  }

  @include handle-state(':disabled') {
    cursor: not-allowed;
  }
}
