extends pages/template.pug

block content
  -
    const map = { 
      'all-tab': 'All components',
      'elements-tab': 'Elements',
      'containers-tab': 'Containers',
      'templates-tab': 'Templates'
    }

  +tab-control(map)
    +tab-content('all-tab')
      section.preview
        .container
          .preview__inner
            +card('inputs', 'Custom form elements', 'Element', grid=true)
              +checkbox('Default')
              +radio('Default')
              +checkbox('Checked')(checked)
              +radio('Selected')(checked)
              +checkbox('Disabled')(disabled)
              +radio('Disabled')(disabled)
            +card('calendar', 'Calendar', 'Container')
              - const date = new Date();
              +calendar(date, 6, 12)
            +card('avatar', 'Avatar', 'Element')
              +avatar(require('@images/avatar-200.jpg'), isLarge=true)
    +tab-content('elements-tab')= 'Hello'

block footer
  footer.footer
    .footer__inner
      .footer__title About
      p.footer__description
        | This project is a collection of professionally designed, pre-built,
        | fully responsive HTML snippets you can drop into your projects. Get
        | started by checking out our free preview components, or browsing the
        | PNG previews in the categories you're most curious about.
